<template>
  <div class="flex flex-col flex-1 h-full items-center justify-center">
    <span class="text-lg">Add user</span>

    <form class="flex flex-col mt-8" @submit.prevent="onSubmit">
      <select class="mb-4" v-model="selectedUserArn">
        <option value="" selected disabled hidden>Select user</option>
        <option
          :key="user.AppInstanceUserArn"
          v-for="user in users"
          :value="user.AppInstanceUserArn"
          >{{ user.Name }}</option
        >
      </select>
      <button
        class="bg-blue-600 text-white px-3 py-1 border-none focus:outline-none rounded-sm mt-3"
        type="submit"
      >
        Invite
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import { ChimeService } from "@/service/chime.service";
import { AppInstanceUserSummary } from "@aws-sdk/client-chime";
import { defineComponent } from "@vue/runtime-core";
import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
  name: "AddUserToChannel",
  setup() {
    const users = ref<Array<AppInstanceUserSummary>>([]);
    const route = useRoute();
    const router = useRouter();
    const roomId = ref<string>(route.params.id as string);
    const selectedUserArn = ref<string>("");
    const onSubmit = async () => {
      await ChimeService.createChannelMembership(
        selectedUserArn.value,
        roomId.value
      );
      router.push({ name: "ROOM", params: { id: roomId.value } });
    };
    ChimeService.listUsers().then((response) => {
      users.value = response as any;
    });
    return {
      users,
      onSubmit,
      roomId,
      selectedUserArn,
    };
  },
});
</script>

<style></style>
