<template>
  <div
    class="hover:bg-gray-200 bg-transparent p-2 text-left rounded-sm relative group"
  >
    <div class="font-bold">{{ message.Sender.Name }}</div>
    <div>{{ message.Content }}</div>
    <button
      v-if="!message.ThreadChannelId && showReply"
      @click.prevent="showReplyThread = !showReplyThread"
      class="absolute hidden bg-white px-2 py-1 -top-2 right-2 group-hover:flex"
    >
      Reply
    </button>
  </div>
  <div
    class="flex flex-col w-3/4 ml-5 gap-5 mb-3"
    v-if="threadMessageStore[message.MessageId]?.length || showReplyThread"
  >
    <div class="flex flex-col">
      <ChannelMessage
        v-for="message in (threadMessageStore[message.MessageId] ?? [])"
        :key="message.MessageId"
        :message="message"
        :channelId="channelId"
        :showReply="false"
      >
        <div class="font-bold">{{ message.Sender.Name }}</div>
        <div>{{ message.Content }}</div>
      </ChannelMessage>
    </div>
    <form class="flex" @submit.prevent="onSendReply">
      <input
        class="bg-gray-200 flex-1 px-2 focus:outline-none"
        v-model="replyInput"
        type="text"
      />
      <button
        class="bg-blue-600 text-white px-3 py-1 border-none focus:outline-none"
        type="submit"
      >
        Send reply
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import { ChimeService } from "@/service/chime.service";
import { IChannelMessage } from "@/types/channel.types";
import { defineComponent, PropType, ref } from "vue";
import ThreadMessagesStore from "../store/threadMessages.store";

export default defineComponent({
  name: "ChannelMessage",
  props: {
    message: { type: Object as PropType<IChannelMessage>, required: true },
    channelId: { type: String, required: true },
    showReply: {type: Boolean, default: true}
  },
  setup(props) {
    const replyInput = ref("");
    const threadMessageStore = ref(ThreadMessagesStore.state);
    const showReplyThread = ref(false);

    const onSendReply = async () => {
      const content = replyInput.value;
      if (props.message.MessageId) {
        await ChimeService.sendThreadMessage(
          props.channelId,
          props.message.MessageId,
          content
        );
        replyInput.value = "";
      }
    };

    return {
      showReplyThread,
      replyInput,
      onSendReply,
      threadMessageStore,
    };
  },
});
</script>

<style></style>
