<template>
  <div class="w-full h-full flex items-center justify-center">
    <form @submit.prevent="createRooom" class="flex flex-col">
      <label class="mt-3 text-left" for="channel-name">Channel Name</label>
      <input
        class="border-2 border-black"
        id="channel-name"
        v-model="channelName"
        type="text"
      />
      <select class="border-2 border-black mt-3" v-model="channelType">
        <option selected value="PUBLIC">Public</option>
        <option value="PRIVATE">Private</option>
      </select>
      <button
        class="bg-blue-600 text-white px-3 py-1 border-none focus:outline-none rounded-sm mt-3"
      >
        Create Room
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import { ChannelPrivacy } from "@aws-sdk/client-chime";
import { defineComponent } from "@vue/runtime-core";
import { ChimeService } from "../service/chime.service";

export default defineComponent({
  name: "CreateChatRoom",
  data() {
    return {
      channelName: "",
      channelType: ChannelPrivacy.PUBLIC,
    };
  },
  methods: {
    async createRooom() {
      await ChimeService.createChannel(this.channelName, this.channelType);
      this.channelName = "";
      this.channelType = ChannelPrivacy.PUBLIC;
    },
  },
});
</script>
