<template>
  <div class="w-full h-full flex items-center justify-center">
    Click on channels to start messaging
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";

export default defineComponent({
  name: "DefaultView",
  data() {
    return {};
  },
});
</script>
