<template>
  <div class="w-full h-full flex flex-col px-4  pt-2">
    <div class="flex">
      <span class="text-lg font-bold capitalize">{{
        channelInfo[roomId]?.channelName
      }}</span>
      <span
        class="ml-auto bg-blue-600 text-white px-3 py-1"
        @click="onDelete()"
      >
        Delete
      </span>
      <span
        class="ml-auto bg-blue-600 text-white px-3 py-1"
        @click="$router.push({ name: 'ADD_USER', params: { id: roomId } })"
      >
        Invite user
      </span>
    </div>
    <div class="flex-1 flex flex-col overflow-auto mt-4 mb-2">
      <ChannelMessage
        :key="index"
        v-for="(message, index) in channelMessages[roomId]"
        :message="message"
        :channelId="roomId"
      ></ChannelMessage>
    </div>

    <form class="mt-auto flex mb-2" @submit.prevent="sendMessage">
      <input
        class="bg-gray-200 flex-1 px-2 focus:outline-none"
        v-model="message"
        type="text"
      />
      <button
        class="bg-blue-600 text-white px-3 py-1 border-none focus:outline-none"
        type="submit"
      >
        Send
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import { MESSAGE_TYPE } from "@/constants/app.constants";
import { MESSAGE_VARIANT } from "@/constants/channel.constants";
import { ChatService } from "@/service/chat.service";
import {
  ICreateMessageEventPayload,
  IUpdateChannelEventPayload,
} from "@/types/channel.types";
import { defineComponent } from "@vue/runtime-core";
import { Message } from "amazon-chime-sdk-js";
import { ChimeService } from "../service/chime.service";
import ChannelInfoStore from "../store/channelInfo.store";
import ChannelMessagesStore from "../store/channelMessages.store";
import ThreadMessagesStore from "../store/threadMessages.store";
import {
  convertArnToChannelId,
  getMessageVariantDetails,
} from "../utils/common.util";
import { convertCreateMessagePayloadToChannelMessage } from "../utils/message.util";
import ChannelMessage from "./ChannelMessage.vue";

export default defineComponent({
  name: "Room",
  components: { ChannelMessage },
  data() {
    return {
      roomId: "",
      message: "",
      channelInfo: ChannelInfoStore.state,
      channelMessages: ChannelMessagesStore.state,
      messageSubscription: undefined as string | undefined,
    };
  },
  updated() {
    if (this.getRoomIdFromUrl() !== this.roomId) {
      this.roomId = this.getRoomIdFromUrl();
    }
  },
  methods: {
    async getRoomMessages(roomId: string) {
      const response = await ChimeService.listChannelMessages(roomId);
      return response;
    },
    async sendMessage() {
      await ChimeService.sendMessage(this.roomId, this.message);
      this.message = "";
    },
    getRoomIdFromUrl() {
      return this.$route.params.id as string;
    },
    async onDelete() {
      await ChimeService.deleteChannelMessages(this.roomId);
    },

    async filterMessagesAfter(channelId: string, unixTimestamp: number) {
      this.channelMessages[channelId] = this.channelMessages[channelId].filter(
        (message) =>
          message.CreatedTimestamp &&
          message.CreatedTimestamp.valueOf() > unixTimestamp
      );
    },
    async onChannelUpdate(payload: IUpdateChannelEventPayload) {
      const metadata = payload.Metadata;
      try {
        const { MessageDeletedAt } = JSON.parse(metadata);
        if (!MessageDeletedAt) return;
        const channelId = convertArnToChannelId(payload.ChannelArn);
        this.filterMessagesAfter(channelId, Number(MessageDeletedAt));
      } catch (err) {
        return;
      }
    },
    async onNewChannelMessage(payload: ICreateMessageEventPayload) {
      const messageVariantDetails = getMessageVariantDetails(payload);
      if (!payload.ChannelArn) return;
      console.log(payload)
      const roomId = convertArnToChannelId(payload.ChannelArn);
      const chatMessage = await convertCreateMessagePayloadToChannelMessage(
        payload
      );
      if (messageVariantDetails.AppMessageVariant === MESSAGE_VARIANT.STANDARD) {
        ChannelMessagesStore.addChannelMessage(roomId, chatMessage);
      } else if (
        messageVariantDetails.AppMessageVariant === MESSAGE_VARIANT.THREAD_MESSAGE
      ) {
        ThreadMessagesStore.addThreadMessage(
          messageVariantDetails.ReplyMessageId as string,
          chatMessage
        );
      }
    },
  },
  watch: {
    async roomId(roomId: string) {
      if (!this.channelMessages[roomId]) {
        const messages = await this.getRoomMessages(roomId);
        ChannelMessagesStore.addChannelMessage(roomId, ...messages.standard);
        Object.keys(messages.threadMessages).forEach((replyMessageId) => {
          ThreadMessagesStore.addThreadMessage(
            replyMessageId,
            ...messages.threadMessages[replyMessageId]
          );
        });
      }
      if (!this.channelInfo[roomId]) {
        const channelInfo = await ChimeService.channelInfo(roomId);
        if (channelInfo.Channel?.Name && channelInfo.Channel.ChannelArn)
          ChannelInfoStore.setChannelInfo(
            roomId,
            channelInfo.Channel?.ChannelArn,
            channelInfo.Channel?.Name
          );
      }
    },
  },
  unmounted() {
    if (this.messageSubscription) {
      ChatService.removeListener(this.messageSubscription);
      this.messageSubscription = undefined;
    }
  },
  mounted() {
    const id = this.getRoomIdFromUrl();
    this.roomId = id;
    this.messageSubscription = ChatService.addListener(
      async (message: Message) => {
        console.log(message);
        if (message.type === MESSAGE_TYPE.CREATE_CHANNEL_MESSAGE) {
          const payload: ICreateMessageEventPayload = JSON.parse(
            message.payload
          );
          this.onNewChannelMessage(payload);
        } else if (message.type === MESSAGE_TYPE.UPDATE_CHANNEL) {
          const payload: IUpdateChannelEventPayload = JSON.parse(
            message.payload
          );
          this.onChannelUpdate(payload);
        }
      }
    );
  },
});
</script>

<style></style>
