<template>
  <div class="w-1/4 bg-gray-400 h-screen py-3 px-1 overflow-auto">
    <button
      @click.prevent="$router.push({ name: 'CREATE_ROOM' })"
      class="bg-blue-600 text-white px-3 py-1 border-none focus:outline-none mb-3"
    >
      Create Room
    </button>
    <div
      class="text-left pl-3 py-2"
      @click.prevent="changeChannel(channel)"
      :key="channel.arn"
      v-for="channel in channels"
    >
      {{ channel.name }}
    </div>
  </div>
</template>

<script lang="ts">
import { ChatService } from "@/service/chat.service";
import { defineComponent } from "@vue/runtime-core";
import { ChimeService } from "../service/chime.service";
import { Message } from "amazon-chime-sdk-js";
import Store from "../store/channelInfo.store";
import { ChannelSummary } from "@aws-sdk/client-chime";
import { APP_CHANNEL_TYPE } from "@/constants/channel.constants";
import { convertArnToChannelId } from "@/utils/common.util";

export default defineComponent({
  name: "Sidebar",
  data() {
    return {
      channels: [],
    };
  },
  methods: {
    changeChannel(channel: any) {
      Store.setChannelInfo(channel.id, channel.arn, channel.name);
      this.$router.push({ name: "ROOM", params: { id: channel.id } });
    },
    getChannelType(channel: ChannelSummary): APP_CHANNEL_TYPE {
      try {
        const metadata = channel?.Metadata;
        if (metadata) {
          const parsedData = JSON.parse(metadata);
          if (parsedData?.AppChannelType === APP_CHANNEL_TYPE.THREAD)
            return APP_CHANNEL_TYPE.THREAD;
        }
        // eslint-disable-next-line no-empty
      } catch (err) {}
      return APP_CHANNEL_TYPE.STANDARD;
    },
  },
  async mounted() {
    ChatService.addListener(async (message: Message) => {
      if (message.type === "CREATE_CHANNEL_MEMBERSHIP") {
        const {
          ChannelArn,
          Member: { Arn },
        } = JSON.parse(message.payload);
        const channelInfo = await ChimeService.channelInfo(ChannelArn, true);
        if (
          !channelInfo.Channel ||
          this.getChannelType(channelInfo.Channel) === APP_CHANNEL_TYPE.THREAD
        )
          return;
        const { Name } = channelInfo.Channel;
        if (!Name || !ChannelArn) return;
        if (Arn !== (await ChimeService.getChimeBearer())) return;
        (this.channels as any).push({
          name: Name,
          arn: ChannelArn,
          id: convertArnToChannelId(ChannelArn),
        });
      }
    });
    let allChannels = await ChimeService.listChannels();
    allChannels = allChannels?.filter(
      (channel) =>
        channel && this.getChannelType(channel) === APP_CHANNEL_TYPE.STANDARD
    );
    this.channels = (allChannels?.map((channel: any) => ({
      name: channel.Name,
      arn: channel.ChannelArn,
      id: channel.ChannelArn && convertArnToChannelId(channel.ChannelArn),
    })) ?? []) as any;
  },
});
</script>
