<template>
  <div class="w-full h-full flex">
    <Sidebar></Sidebar>
    <div class="flex-1 flex">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import { ChatService } from "@/service/chat.service";
import { defineComponent } from "@vue/runtime-core";
import Sidebar from "../components/Sidebar.vue";
export default defineComponent({
  components: { Sidebar },
  mounted() {
    ChatService.listen();
  },
});
</script>
