<template>
  <form class="flex flex-col justify-items-start" @submit.prevent="onLogin">
    <label class="text-left" for="username">Username</label>
    <input
      class="border-2 border-black"
      id="username"
      v-model="username"
      type="text"
    />
    <label class="mt-3 text-left" for="password">Password</label>
    <input
      class="border-2 border-black"
      id="password"
      v-model="password"
      type="password"
    />
    <button v-if="!newPasswordRequired" type="submit">Login</button>
  </form>
  <form @submit.prevent="changePassword" v-if="newPasswordRequired">
    <label class="mt-3 text-left" for="newPassword">Password</label>
    <input
      class="border-2 border-black"
      id="newPassword"
      v-model="newPassword"
      type="password"
    />
    <button type="submit">Login</button>
  </form>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import { AuthService } from "../service/auth.service";
export default defineComponent({
  data() {
    return {
      username: "",
      password: "",
      newPassword: "",
      newPasswordRequired: false,
      user: undefined,
    };
  },
  methods: {
    onLogin: async function() {
      const user = await AuthService.login(this.username, this.password);
      if (user.challengeName === "NEW_PASSWORD_REQUIRED") {
        this.user = user;
        this.newPasswordRequired = true;
        return;
      }
      this.username = "";
      this.password = "";
      this.$router.push("/");
    },
    changePassword: async function() {
      await AuthService.changePassword(this.user, this.newPassword);
      this.newPasswordRequired = false;
      this.username = "";
      this.password = "";
      this.newPassword = "";
    },
  },
});
</script>
